# manikanta

In [8]:
k=int(input())
for i in range(k):
    for j in range(i):
        print(j,end="")
    print("")

7

0
01
012
0123
01234
012345

- welcome to ml

- gbdfggjnfg **vbhgh** ~fghfgh~
<img src="" width=100px height=100px>

<img src="">

[nec](http://apssdc.in)

## Files

- open(filename,mode)
   - mode=read(r)/write(w)/append(a)
- read()
- write()
- readlines()
- close()

In [23]:
f=open('data.txt','w')
data="welcome to world"
f.write(data)
f.close()

In [26]:
f=open('data.txt','a')
s='\n manikanta'
f.write(s)
f.close()

In [47]:
f=open('marks.txt','r')
k=f.read()
print(k)

ravi 80 90 100
ramu 70 60 50

In [71]:
f=open('marks.txt')
f2=open('totalmarks.txt','w')
d=f.readlines()
print(d)
for i in d:
    words=i.split()
    name=words[0]
    #print(words[0],int(words[1])+int(words[2])+int(words[3]))
    total=list(map(int,words[1:]))
    total=sum(total)
    print(name,total)
    f2.write(name+" "+str(total)+"\n")
f2.close()

['ravi 80 90 100\n', 'ramu 70 60 50']
ravi 270
ramu 180

In [4]:
f4=open("number.txt","w")
l=f4.readlines
f4.close()

# regular expression

In [5]:
import re

## re methods
### re.match(pattern,string)
###  re.search()
### re.findall()

In [10]:
a='ravi'
re.match('r',a)#it only gives output when it checking value  first character is found.

In [11]:
a='ravi'
re.search('v',a)#it gives the output at any position checking.

In [12]:
a="ravivi"
re.search('v',a)#it gives only first occurance. To get the both occurances we use findall()

In [13]:
a="ravivi"
re.findall("v",a)#it generates the all matched elements in list.

['v', 'v']

# ^ matches the beginning of the line.

In [18]:
a='ravi'
re.search('^r',a)#it matches the first line it is not present at first letter than it doesnt prosuce output.

# $ matches the ending of aline.

In [19]:
a="ravbdfgi"
re.search("i$",a)#it checks the ending of astring.

# . matches the any character

In [23]:
a="mani$"
re.search(".$",a)

In [26]:
a="manifiii"
re.search("....",a)#it matches the number of dots in string.

In [32]:
a=['mani','anil','ramuka']
for i in a:
    if re.search('....',i):
        print(i)#or re.search('.{4}',i)

mani
anil
ramuka

In [34]:
a=['mani','anil','ramuka']
for i in a:
    if re.search('^.{4}$',i): #re.search('^.{4,6}$',i) output:mani anil ramuka
        print(i)#or re.search('.{4}',i)

mani
anil

In [38]:
a=['mani','anil','ramuka','madavi']
for i in a:
    if re.search('^m.{4,6}$',i):#the range between 4 and 6 will be printed with starting m letter
        print(i)

madavi

# \d matches the digits only

In [39]:
a="ravi2"
re.search('\d',a)#matches the number.

In [43]:
a="ravi256"
re.search('\d+',a)# + is used to match the continuous numbers.

In [44]:
a="ra43vi256"
re.search('\d+',a)# it is only for continuous numbers.

a="ra43vi256"
re.findall('\d+',a)# with findall we can match the numbers in the string and stores in list.

##  \D is used for non digits (alphabets and special characters)

In [46]:
a="ra43vi256"
re.search('\D+',a)#for continuos data

In [49]:
a="ra43vi256"
re.search('\D',a)#only one character is printed.

In [50]:
a="ra43vi256"
re.findall('\D',a)#produces single characters.

['r', 'a', 'v', 'i']

In [48]:
a="ra43vi256"
re.findall('\D+',a)#for all at any data

['ra', 'vi']

## \W used to match the special characters only.

In [55]:
a="ra4@#$3vi256$#"
re.findall('\W+',a)

['@#$', '$#']

In [53]:
a="ra43vi25#$6"
re.search('\W',a)

In [54]:
a="ra43vi25645$#%#%"
re.findall('\W',a)

['$', '#', '%', '#', '%']

In [75]:
a="pandalamani11@gmail.com"
re.findall('.$',a)

['m']

In [79]:
a="pandalamani11@gmail.com"
re.findall("\D+",a)

['pandalamani', '@gmail.com']

## \s matches the  white spaces.

In [87]:
a="maniikan   rtba"
re.search("\s",a)

In [86]:
a="mani  ikan   rtba"
re.findall("\s",a)

[' ', ' ', ' ', ' ', ' ']

##  alphabets in listed list

In [88]:
re.search('[a-z]','ravi 956')

In [89]:
re.findall('[a-z]','ravi 956')

['r', 'a', 'v', 'i']

In [90]:
re.search('[a-z]+','ravi 956')

In [91]:
re.search('[^a-z]+','ravi 956')

In [92]:
re.search('^[a-z]+','ravi 956')

In [93]:
re.search('[0-9]+','ravi 956')

In [97]:
A=['mani','78','65','87']
s=0
for i in A:
    if re.search('[0-9]+',i):
        print(i)
        s+=int(i)
print(s)

78
65
87
230

In [108]:
f=open('total.txt','r')
s=f.readlines()
for i in s:
    words=i.split()
    total=int(words[2])+int(words[3])+int(words[4])
print(words)
print(total)
f.close()

['welcoome', 'to', '123', '546', '12', 'days']
681

In [ ]:
f=open('total.txt','r')
s=f.readlines()
for i in s:
    words=i.split()
    
print(words)
print(total)
f.close()